:root {
  color: black;
  background-color: #f9fafb;
  font-family: "Source Sans 3", sans-serif;

  --uc-red: #d50e0b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
    font-family: "Source Sans 3", sans-serif;
}



.grid-view {
  display: grid;
  grid-template-columns: 300px 1fr; 
  gap: 20px;
  padding: 3%;
  justify-items: flex-start; 
}



.orgsection{
  display: flex;
  flex-direction: column;
}


.selections {
  display: flex;
  flex-direction: column;
  gap: 15px;       
  height: auto;     
  width: 500px;    
  padding: 50px;    
}

.category {
  display: flex; 
  flex-direction: column;
  gap: 10px;
}

.category button {
  border: none;
  border-radius: 20px;
  padding: 12px 20px;   
  font-size: 20px;
  cursor: pointer;
  width: 100%;           
  text-align: left;      
}

.cat-option {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 30px;
}

.searchbox input{
  width: 500px;
  padding: 12px;
  border: 1px solid #ccc;
  font-size: 26px;
}


.org-cards{
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  width: 100%;
  max-width: none;
  justify-items: center;
}

.stack {
  display: flex;
  flex-direction: column; 
  gap: 20px;
  padding: 20px 0;
}

.orglist {
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12); 
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 15px 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 800px;      
  margin: auto;           
}


.org-content {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 5000px;
}

.orgimg img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
}

.orgname p {
  margin: 0;
  font-size: 25px;
  font-weight: 500;
  color: #333;
}


.gobackbutton {
  width: fit-content;
  margin-left: 5%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
}


.goback {
  display: flex;
  align-items: center;
  justify-content: center; 
  font-size: 25px;
  font-weight: 500;
  color: #494949;
  line-height: 1.5;
  padding: 10px 30px; 
  background-color: #fff;
  height: 50px;
  width: fit-content;
  margin: 0 auto 5%;
  box-shadow: 
    0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14),
    0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}



.joinbutton{
  background-color: #266fc1;
  color: white;
  font-size: 20px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: fit-content;
  height: 50px;
  margin-left: 50%;
}


.orgdetcontent{
  display: flex;
  gap: 20px;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  }

.orgheader{
  font-size: 30px;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  font-weight: 450;
}

.orgheader img{
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.AdditionalInfo{
  padding-left: 10%;
  padding-bottom: 10%;
}

.DetHeaders{
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}

.description{
  font-size: 20px;
  line-height: 1.6;
  color: black;
  font-weight: 350;
  padding-left: 3%;
}

.addinfo{
  font-size: 20px;
  line-height: 1.6;
  color: black;
  font-weight: 350;
  padding-left: 3%;
  
}


.exec-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 16px;
  margin-top: 12px;
  padding: 10px;
}

.execbox {
  background: #f7f7f7;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}

.role{
  font-size: 15px;
  margin-bottom: 3px;
}
.name{
  font-size: 15px;
}



h1 {
font-size: 1.5em


}

button {
  cursor: pointer;
}

.sidebar {
  position: fixed;
  width: 100px;
  /*height: 100vh;*/
  height: 80px;
  top: 0;
  left: 0;
  border-bottom: 2px solid #e0e0e0;
  display: flex;
  background-color: white;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  padding-top: 0;
  z-index: 1000;
  /*border-right-style: solid;
  border-right-color: #e0e0e0;
  border-right-width: 2px;
  padding-top: 80px;*/
}

.active {
  background-color: #f0f4fb;
}

.active .sidebar-btn:hover {
  background-color: #e6effa;
}

.sidebar-icon {
  font-size: 40px;
}

.icon-div {
  /*text-align: center;*/
  display: flex;
  align-items:center;
  flex-direction: column;
}
.sidebar-btn {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  width: 100px;
  height: 78px;
}

.sidebar-btn:hover {
  background-color: #f5f5f5;
  width: 99px;
}

.view {
  width: calc(100% - 100px);
  height: calc(100% - 80px);
  padding-top: 80px;
  margin-left: 100px;
}

.close-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 110px;
  padding-right: 30px;
  font-size: 30px;
}

.req {
  color: red;
}

input,
select,
textarea {
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
}


.flex-disp {
  display: flex;
  justify-content: center;
}
.align-disp {
  display: flex;
  align-items: center;
}

.org-info {
  box-shadow: 0px 0px 2px black;
  width: 75%;
  display: flex;
  align-items: center;
  height: 150px;
  padding: 15px;
}

.org-info:hover {
  box-shadow: 0px 0px 5px black;
}

.article-info {
  box-shadow: 0px 0px 2px black;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 25px;
  padding: 15px;
  box-sizing: border-box;

}

.article-info:hover {
  box-shadow: 0px 0px 5px black;
}

.article-info-text {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.article-title {
  padding-top: 15px;
}

.article-author {
  font-style: italic;
}

.article-img {
  object-fit: cover;
  width: 250px;
  height: auto;
}

.location {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  min-width: 1000px;
  width: auto;
  height: auto;
  padding: 20px;
}

.location-btn {
  padding: 10px;
  margin: 10px;
  background-color: white;
  color: #1976d2;
  border-radius: 10px;
  border-color: #1976d2;
  border-style: solid;
  border-width: 4px;
  font-size: large;
  font-weight: bold;
}

.location-btn.selected {
  background-color: #1976d2;
  color: white;
  font-size: large;
  font-weight: bold;
}

.add-loc-btn {
  padding: 10px;
  background-color: #1976d2;
  color: white;
  font-size: large;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}

.off-campus-inputs {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.online-inputs {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
  .forms-and-links-text {
    padding-top: 20px
  }

  .view {
    width: calc(100% - 100px);
    height: calc(100% - 80px);
    padding-top: 80px;
    margin-left: 100px;
  }

  .home-view {
    padding-left: 80px;
    padding-top: 50px;
  }

  .events-list {
    padding-left: 80px;
    padding-top: 50px;
  }

  .form-view {
    padding-left: 80px;
    padding-top: 50px;
  }

  .news-view {
    padding-left: 80px;
    padding-top: 50px;
  }

  .links-view {
    padding-left: 80px;
    padding-top: 50px;
  }

  .org-title {
    padding-left: 80px;
    padding-top: 50px;
    padding-bottom: 50px
  }

  .my-orgs {
    padding-bottom: 50px;
  }

  .orgs-list {
    display: flex;
  }

  .org {
    /* border-width: 1px;
    border-color: black;
    border-style: solid; */
    box-shadow: 0px 0px 2px black;
    background-color: white;
    width: 400px;
    height: 100px;
    margin-right: 40px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    font-weight: lighter;
    margin-top: 20px;
  }

  .org:hover {
    box-shadow: 0px 0px 5px black;
  }

  .orgs-events-list {
    display: flex;
  }

  .close-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 110px;
    padding-right: 30px;
    font-size: 30px;
  }

  .create-event-btn {
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 105px;
    margin-right: 25px;
    background-color:#f9fafb;
    border-color: #2196F3;
    color: #2196F3;
    border-radius: 5px;
  }

.my-org-text {
font-weight: lighter
}

.my-org-logo {
  height: 80px; margin-top: 10px; margin-left: 10px; padding-right: 10px
}

  .date-time-input {
    width: 200px;
    font-size: 25px;
  }

  label {
    font-size: 20px;
  }

  .req {
    color: red;
  }

  .date-time {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 600px;
    height: auto;
    padding: 20px;
    margin-bottom: 100px;
  }

  .basic-details {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 600px;
    margin-bottom: 50px;
  }

  input,
  select,
  textarea {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
  }

  .close-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 110px;
    padding-right: 30px;
    font-size: 30px;
  }

  .loc-btn {
    padding: 10px;
  }
