:root {
  color: black;
  /* background-color: #f9fafb; */
  background-color: #f9fafb;
  font-family: Arial, Helvetica, sans-serif;

  --uc-red: #d50e0b;
}

	*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
