:root {
  color: black;
  /* background-color: #f9fafb; */
  background-color: #f9fafb;
  font-family: Arial, Helvetica, sans-serif;

  --uc-red: #d50e0b;
}

	*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer
}

  .sidebar {
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: white;
    border-right-style: solid;
    border-right-color: #e0e0e0;
    border-right-width: 2px;
    padding-top: 80px;
  }

  .active {
    background-color: #f0f4fb;
  }

  .active .sidebar-btn:hover {
    background-color: #e6effa;
  }

  .sidebar-icon {
    font-size: 40px;
  }

  .icon-div {
    text-align: center;
  }
  .sidebar-btn {
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 80px;
  }

  .sidebar-btn:hover {
    background-color: #f5f5f5;
    width: 99px;
  }

    .view {
    width: calc(100% - 100px);
    height: calc(100% - 80px);
    padding-top: 80px;
    margin-left: 100px;
  }

    .close-btn {
    background-color: transparent;
    border: none;
        position: absolute;
    right: 0;
    top: 0;
    padding-top: 110px;
    padding-right: 30px;
    font-size: 30px
  }

    .req {
    color: red;
  }

    input,
  select,
  textarea {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
  }
