:root {
  color: black;
  /* background-color: #f9fafb; */
  background-color: #f9fafb;
  font-family: Arial, Helvetica, sans-serif;

  --uc-red: #d50e0b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.sidebar {
  position: fixed;
  width: 100px;
  /*height: 100vh;*/
  height: 80px;
  top: 0;
  left: 0;
  border-bottom: 2px solid #e0e0e0;
  display: flex;
  background-color: white;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  padding-top: 0;
  z-index: 1000;
  /*border-right-style: solid;
  border-right-color: #e0e0e0;
  border-right-width: 2px;
  padding-top: 80px;*/
}

.active {
  background-color: #f0f4fb;
}

.active .sidebar-btn:hover {
  background-color: #e6effa;
}

.sidebar-icon {
  font-size: 40px;
}

.icon-div {
  /*text-align: center;*/
  display: flex;
  align-items:center;
  flex-direction: column;
}
.sidebar-btn {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  width: 100px;
  height: 80px;
}

.sidebar-btn:hover {
  background-color: #f5f5f5;
  width: 99px;
}

.view {
  width: calc(100% - 100px);
  height: calc(100% - 80px);
  padding-top: 80px;
  margin-left: 100px;
}

.close-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 110px;
  padding-right: 30px;
  font-size: 30px;
}

.req {
  color: red;
}

input,
select,
textarea {
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
}

/* .flex-disp {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
} */
.flex-disp {
  display: flex;
  justify-content: center;
}
.align-disp {
  display: flex;
  align-items: center;
}

.org-info {
  box-shadow: 0px 0px 2px black;
  width: 75%;
  display: flex;
  align-items: center;
  height: 150px;
  padding: 15px;
}

.org-info:hover {
  box-shadow: 0px 0px 5px black;
}

.article-info {
  box-shadow: 0px 0px 2px black;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 25px;
  padding: 15px;
  box-sizing: border-box;

}

.article-info:hover {
  box-shadow: 0px 0px 5px black;
}

.article-info-text {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.article-title {
  padding-top: 15px;
}

.article-author {
  font-style: italic;
}

.article-img {
  object-fit: cover;
  width: 250px;
  height: auto;
}

.location {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  min-width: 1000px;
  width: auto;
  height: auto;
  padding: 20px;
}

.location-btn {
  padding: 10px;
  margin: 10px;
  background-color: white;
  color: #1976d2;
  border-radius: 10px;
  border-color: #1976d2;
  border-style: solid;
  border-width: 4px;
  font-size: large;
  font-weight: bold;
}

.location-btn.selected {
  background-color: #1976d2;
  color: white;
  font-size: large;
  font-weight: bold;
}

.add-loc-btn {
  padding: 10px;
  background-color: #1976d2;
  color: white;
  font-size: large;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}

.off-campus-inputs {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.online-inputs {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
  .forms-and-links-text {
    padding-top: 20px
  }

  .view {
    width: calc(100% - 100px);
    height: calc(100% - 80px);
    padding-top: 80px;
    margin-left: 100px;
  }

  .home-view {
    padding-left: 80px;
    padding-top: 50px;
  }

  .events-list {
    padding-left: 80px;
    padding-top: 50px;
  }

  .form-view {
    padding-left: 80px;
    padding-top: 50px;
  }

  .news-view {
    padding-left: 80px;
    padding-top: 50px;
  }

  .links-view {
    padding-left: 80px;
    padding-top: 50px;
  }

  .org-title {
    padding-left: 80px;
    padding-top: 50px;
    padding-bottom: 50px
  }

  .my-orgs {
    padding-bottom: 50px;
  }

  .orgs-list {
    display: flex;
  }

  .org {
    /* border-width: 1px;
    border-color: black;
    border-style: solid; */
    box-shadow: 0px 0px 2px black;
    background-color: white;
    width: 400px;
    height: 100px;
    margin-right: 40px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    font-weight: lighter;
    margin-top: 20px;
  }

  .org:hover {
    box-shadow: 0px 0px 5px black;
  }

  .orgs-events-list {
    display: flex;
  }

  .close-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 110px;
    padding-right: 30px;
    font-size: 30px;
  }

  .create-event-btn {
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 105px;
    margin-right: 25px;
  }

.my-org-text {
font-weight: lighter
}

.my-org-logo {
  height: 80px; margin-top: 10px; margin-left: 10px; padding-right: 10px
}

  .date-time-input {
    width: 200px;
    font-size: 25px;
  }

  label {
    font-size: 20px;
  }

  .req {
    color: red;
  }

  .date-time {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 600px;
    height: auto;
    padding: 20px;
    margin-bottom: 100px;
  }

  .basic-details {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 600px;
    margin-bottom: 50px;
  }

  input,
  select,
  textarea {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
  }

  .close-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 110px;
    padding-right: 30px;
    font-size: 30px;
  }

  .loc-btn {
    padding: 10px;
  }
